<div class="content">
<mat-stepper linear #stepper>
  <mat-step [stepControl]="userFormGroup" state="chat">
    <form [formGroup]="userFormGroup">
      <ng-template matStepLabel>여행자 정보</ng-template>
      
      <div class="form-container">

<div class="question-container">
  <p class="header">이름을 알려주세요</p>
  <mat-form-field class="from" appearance="fill">
    <input matInput placeholder="도미니" formControlName="nameCtrl" required>
  </mat-form-field>
</div>
   
<div class="question-container">
      <p class="header">생일을 알려주세요</p>
      <mat-form-field  class="from" appearance="fill">
    <mat-label>3/4/1992</mat-label>
        <input matInput [matDatepicker]="birthday" formControlName="birthCtrl" disabled>
        <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
        <mat-datepicker #birthday disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="question-container">
      <p class="header">메일을 알려주세요</p>
      <mat-form-field class="from" appearance="fill">
        <!-- <mat-label>이름</mat-label> -->
        <input type="email" matInput placeholder="도미니@jeju.com" formControlName="emailCtrl"  [errorStateMatcher]="matcher" required>
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

      </div>
      <div>
        <!-- <img mat-button src="../../../assets/img/next-button.png" matStepperNext alt="next"> -->
        <button mat-button matStepperNext>
          <img class="icon"
          src="../../../assets/img/next-button.png" alt="next">
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="payFormGroup" errorMessage="ㅠㅠ">
    <form [formGroup]="payFormGroup">
      <ng-template matStepLabel>결제 정보</ng-template>

      <div class="form-container" [ngStyle]="{'flex-direction': !IS_MOBILE ? 'row' : 'column', 'flex-wrap': !IS_MOBILE ? 'wrap': 'nowrap'}">

<div class="question-container" [ngStyle]="{'min-width': !IS_MOBILE ? '50%' : '90%'}">
  <p class="header">갖고 계신 카드가 뭔가요?</p>
      <div class="mat-form-field" appearance="fill">
        <section class="example-section" [formGroup]="payFormGroup">
          <!-- <h4>Select your toppings:</h4> -->
          
          <p><mat-checkbox formControlName="samsung_card">삼성카드</mat-checkbox></p>
          <p><mat-checkbox formControlName="hyundai_card">현대카드</mat-checkbox></p>
          <p><mat-checkbox formControlName="shinhan_card">신한카드</mat-checkbox></p>
        </section>
      </div>
</div>

<div class="question-container" [ngStyle]="{'min-width': !IS_MOBILE ? '50%' : '90%'}">
  <p class="header">통신사는 어디 쓰세요?</p>
       <div class="mat-form-field" appearance="fill">
        <section class="example-section" [formGroup]="payFormGroup">
          <p><mat-checkbox formControlName="skt_mc">SKT</mat-checkbox></p>
          <p><mat-checkbox formControlName="kt_mc">KT</mat-checkbox></p>
          <p><mat-checkbox formControlName="lg_mc">LG U+</mat-checkbox></p>
          <p><mat-checkbox formControlName="extra_mc">알뜰폰</mat-checkbox></p>
          <p><mat-checkbox formControlName="vip_mc">혹시 VIP 회원이신가요?</mat-checkbox></p>
        </section>
      </div>

    </div>

<div class="question-container" [ngStyle]="{'min-width': !IS_MOBILE ? '50%' : '90%'}">
  <p class="header">페이앱 쓰시는 곳 있나요?</p>
      <div class="mat-form-field" appearance="fill">
        <section class="example-section" [formGroup]="payFormGroup">
          <p><mat-checkbox formControlName="kakao_pay">카카오페이</mat-checkbox></p>
          <p><mat-checkbox formControlName="naver_pay">네이버페이</mat-checkbox></p>
          <p><mat-checkbox formControlName="payco_pay">페이코</mat-checkbox></p>
          <p><mat-checkbox formControlName="smile_pay">스마일페이</mat-checkbox></p>
        </section>
      </div>
      
    </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>
          <img class="icon"
          src="../../../assets/img/previous.png" alt="prev">
        </button>
        <button mat-button matStepperNext>
          <img class="icon"
          src="../../../assets/img/next-button.png" alt="next">
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="flightFormGroup" errorMessage="ㅠㅠ">
    <form [formGroup]="flightFormGroup">
      <ng-template matStepLabel>여행 정보</ng-template>

      <div class="form-container">

<div class="question-container">
  <p class="header">동행자는 몇 명이예요?</p>
      <mat-form-field appearance="fill">
        <input  type="number" matInput placeholder="" formControlName="passengerCtrl" required>
      </mat-form-field>
</div>

<div class="question-container">
  <p class="header">여행 출발 날짜가 언제예요?</p>
      <mat-form-field appearance="fill">
        <mat-label>김포 -> 제주 출발 날짜</mat-label>
        <input matInput [matDatepicker]="start_date" formControlName="travelstartdateCtrl" disabled>
        <mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
        <mat-datepicker #start_date disabled="false"></mat-datepicker>
      </mat-form-field>
</div>

<div class="question-container">
  <p class="header">여행 복귀 날짜는 언제예요?</p>
      <mat-form-field appearance="fill">
        <mat-label>제주 -> 김포 출발 날짜</mat-label>
        <input matInput [matDatepicker]="end_date"  formControlName="travelenddateCtrl" disabled>
        <mat-datepicker-toggle matSuffix [for]="end_date"></mat-datepicker-toggle>
        <mat-datepicker #end_date disabled="false"></mat-datepicker>
      </mat-form-field>
      </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>
          <img class="icon"
          src="../../../assets/img/previous.png" alt="prev">
        </button>
        <button mat-button matStepperNext  (click)="onClickComplete()">
          <img class="icon"
          src="../../../assets/img/next-button.png" alt="next">
        </button></div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>완료</ng-template>
    <p>감사합니다. 조금만 기다려주세요.</p>
    <div>
      <button mat-button matStepperPrevious>
        <img class="icon"
        src="../../../assets/img/previous.png" alt="prev">
      </button>
      <button mat-button (click)="stepper.reset()">
        <img class="icon"
        src="../../../assets/img/refresh.png" alt="refresh">
      </button>
    </div>
  </mat-step>

  <ng-template matStepperIcon="phone">
    <mat-icon>call_end</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="chat">
    <mat-icon>forum</mat-icon>
  </ng-template>
</mat-stepper>
</div>